<h1><%= link_to "Peter Magazine", articles_path%></h1>  
<h1><%= @article.title %></h1>

<h2><%= @author.name %></h2>

<span><%= link_to 'about the author', author_path %></span>
<span><%= link_to 'See all article of this author', show_all_articles_path(@author) %></span>
<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
