<h1><%= link_to "Peter Magazine", articles_path%></h1>   

<h2><%= @author.name %></h2>

<span><%= @author.age %></span>
<span> years of age <span>

<p><%= @author.about %></p>

<ul>
  <li><%= link_to "Edit", edit_author_path %></li>
  <li><%= link_to "Destroy", author_path(@author), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<p><%= link_to "Edit", edit_author_path %></p>
<p><%= link_to "All Arthors", authors_path %></p>

<%= link_to "Write", new_author_article_path(@author) %>
<span>a new </span>
<span><%= @author.name %></span>
<span>'s Article</span>